.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #3a3636;
  color: rgb(121, 80, 80);
  font-family: Arial, sans-serif;
}

.login-page h2 {
  margin-bottom: 20px;
    color: rgb(218, 195, 195);

}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.login-form button {
  padding: 10px;
  font-size: 16px;
  background: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.login-form button:hover {
  background: #c0392b;
}
