<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
   
    <div class="mb-3">
        <label for="idMatHang" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Mặt hàng <span class="text-red-500">*</span></label>
        <p-select id="idMatHang" formControlName="idMatHang" [options]="listMatHang" optionLabel="tenMon" optionValue="id" [filter]="true" placeholder="Chọn mặt hàng" styleClass="w-full" class="mb-2" appendTo="body" />
        @if (form.get('idMatHang')?.hasError('required') && form.get('idMatHang')?.touched) {
        <p-message severity="error" variant="simple" size="small">{{ getError('idMatHang') }} </p-message>
        }
    </div>

    <div class="mb-3">
        <label for="soLuongNhap" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Số lượng hàng cần nhập <span class="text-red-500">*</span></label>
        <p-inputNumber id="soLuongNhap" formControlName="soLuongNhap" [min]="1" placeholder="Nhập thời lượng" styleClass="w-full" />
        @if (form.get('soLuongNhap')?.hasError('required') && form.get('soLuongNhap')?.touched) {
        <p-message severity="error" variant="simple" size="small">{{ getError('soLuongNhap') }}</p-message>
        }
    </div>
    <div class="mb-3">
        <label for="donGiaNhap" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Đơn giá nhập<span class="text-red-500">*</span></label>
        <p-inputNumber id="donGiaNhap" formControlName="donGiaNhap" mode="currency" currency="VND" locale="vi-VN" [min]="0" placeholder="Nhập giá ngày lễ" styleClass="w-full" />
        @if (form.get('donGiaNhap')?.hasError('required') && form.get('donGiaNhap')?.touched) {
        <p-message severity="error" variant="simple" size="small">{{ getError('donGiaNhap') }}</p-message>
        }
    </div>
    <div class="flex gap-2 mt-4" style="justify-content: flex-end;">
        <p-button label="Hủy" icon="pi pi-times" severity="secondary" [outlined]="true" (onClick)="onCancel()" />
        <p-button label="Lưu" icon="pi pi-save" type="submit" [loading]="loading" />
    </div>



</form>