/* ======== HOME - MOBILE ======== */
@media (max-width: 768px) {
  .home-header {
    height: 70px;
    padding: 0 8px;
  }

  .home-logo {
    height: 55px;
    top: 8px;
  }

  .search-box {
    margin-top: 90px;
    width: 85%;
    padding: 5px 10px;
  }

  .poster-slider img {
    height: 220px;
  }

  .home-content {
    width: 95%;
    padding: 15px;
    border-radius: 10px;
  }

  .movie-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .home-logo {
    height: 45px;
  }

  .search-box {
    margin-top: 80px;
    width: 90%;
  }

  .poster-slider img {
    height: 180px;
  }

  .movie-card {
    width: 90%;
  }
}
